{% extends 'base.html' %}

{% block content %}

<section id="contact" class="contact mt-5">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-4">
                <div class="contact-box">
                    <h2>Crear usuario</h2>
                    <form action="" method="post" role="form" class="email-form">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group mb-3">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                                {{ field.errors }}
                            {% endif %}
                        </div>                        
                        {% endfor %}
                        <div class="text-center"><button type="submit">Registrar</button></div>
                        <div class="my-3">
                            <p class="small mb-0">¿Ya tienes una cuenta? <a href="{% url 'login' %}">Iniciar sesión</a></p>
                        </div>
                    </form>                    
                </div>

            </div>

        </div>
    </div>
</section>
{% endblock %}