<div class="modal fade" id="modalSuscription" tabindex="-1" aria-labelledby="modalSuscriptionLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalSuscriptionLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <section id="pricing" class="pricing pt-0">
                <div class="container" data-aos="fade-up">
            
                  <div class="section-title">
                    <h2>Pricing</h2>
            
                  </div>
            
                  <div class="row gy-4">
            
                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                      <div class="pricing-item">
                        <h3>Plan Free</h3>
                        <h4><sup>$</sup>0<span> / mes</span></h4>
                        <ul>
                          <li><i class="bi bi-check"></i> 1 tablero</li>
                          <li><i class="bi bi-check"></i> 2 clases</li>
                          <li><i class="bi bi-check"></i> 20 alumnos por tablero</li>
                          <li><i class="bi bi-check"></i> 15 registros por clase</li>
                          <li class="na"><i class="bi bi-x"></i> Panel de estadísticas</li>
                          <!-- <li class="na"><i class="bi bi-x"></i> <span>Pharetra massa massa ultricies</span></li> -->
                          <!-- <li class="na"><i class="bi bi-x"></i> <span>Massa ultricies mi quis hendrerit</span></li> -->
                        </ul>
                        <a href="#" class="buy-btn">Plan Actual</a>
                      </div>
                    </div><!-- End Pricing Item -->
            
                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                      <div class="pricing-item featured">
                        <h3>Plan Premium</h3>
                        <h4><sup>$</sup>299 MXN<span> / mes</span></h4>
                        <ul>
                            <li><i class="bi bi-check"></i> 5 tableros</li>
                            <li><i class="bi bi-check"></i> 8 clases</li>
                            <li><i class="bi bi-check"></i> 80 alumnos por tablero</li>
                            <li><i class="bi bi-check"></i> 30 registros por clase</li>
                            <li><i class="bi bi-check"></i> Panel de estadísticas</li>
                          <!-- <li class="na"><i class="bi bi-check"></i> Massa ultricies mi quis hendrerit</li> -->
                        </ul>
                        <a href="#" class="buy-btn">Suscribirse</a>
                      </div>
                    </div><!-- End Pricing Item -->
            
                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                      <div class="pricing-item">
                        <h3>Plan Institución</h3>
                        <h4><sup>$</sup>599 MXN<span> / mes</span></h4>
                        <ul>
                          <li><i class="bi bi-check"></i> Sin limite de tableros</li>
                          <li><i class="bi bi-check"></i> Sin limite de clases</li>
                          <li><i class="bi bi-check"></i> Sin limite de alumnos</li>
                          <li><i class="bi bi-check"></i> Sin limite de registros</li>
                          <li><i class="bi bi-check"></i> Panel de estadísticas</li>
                          <!-- <li><i class="bi bi-check"></i> Massa ultricies mi quis hendrerit</li> -->
                        </ul>
                        <a href="#" class="buy-btn">Suscribirse</a>
                      </div>
                    </div><!-- End Pricing Item -->
            
                  </div>
            
                </div>
              </section>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>